<footer class="footer">
  <small>
    The<%= link_to t(".tutorial"), "https://www.railstutorial.org/" %>
    by <%= link_to t(".mchartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %> </li>
    </ul>
  </nav>
</footer>
